RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*main$
#RewriteCond .build/main.xhtml -f
RewriteRule (.+) .build/main.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*bugmenot-popup$
#RewriteCond .build/bugmenot-popup.xhtml -f
RewriteRule (.+) .build/bugmenot-popup.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*same-domain-policy$
#RewriteCond .build/same-domain-policy.xhtml -f
RewriteRule (.+) .build/same-domain-policy.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*dlcs-post$
#RewriteCond .build/dlcs-post.xhtml -f
RewriteRule (.+) .build/dlcs-post.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*ijs$
#RewriteCond .build/ijs.xhtml -f
RewriteRule (.+) .build/ijs.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*minuscul-us$
#RewriteCond .build/minuscul-us.xhtml -f
RewriteRule (.+) .build/minuscul-us.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*popup$
#RewriteCond .build/popup.xhtml -f
RewriteRule (.+) .build/popup.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*source-chart.mpe$
#RewriteCond .build/source-chart.mpe.xhtml -f
RewriteRule (.+) .build/source-chart.mpe.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*toggle-style$
#RewriteCond .build/toggle-style.xhtml -f
RewriteRule (.+) .build/toggle-style.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*rscript$
#RewriteCond .build/rscript.xhtml -f
RewriteRule (.+) .build/rscript.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*web-archive$
#RewriteCond .build/web-archive.xhtml -f
RewriteRule (.+) .build/web-archive.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*outline$
#RewriteCond .build/outline.xhtml -f
RewriteRule (.+) .build/outline.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*google-detect-language$
#RewriteCond .build/google-detect-language.xhtml -f
RewriteRule (.+) .build/google-detect-language.xhtml [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.rst -f
RewriteCond %{REQUEST_URI} ^.*google-translate$
#RewriteCond .build/google-translate.xhtml -f
RewriteRule (.+) .build/google-translate.xhtml [L]

